* {
  margin: 0;
  padding: 0;
  font-family: roboto, arial;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: #3882F6;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #E5E7EB;
  font-weight: bold;
  box-shadow: 3px 3px 20px black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
}

.header, .hero, .footer {
  background: #1f2937;

}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-link {
  color: #F9FAF8;
}

.links a, .links a:visited {
  color: #E5E7EB;
}

.hero {
  color: #E5E7EB;
  padding: 5vh 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero > * {
  flex: 1;
}

.hero-text {
  font-size: 18px;
  color: #E5E6EB;
  padding: 10px 0;
}
