* {
  margin: 0;
  padding: 0;
  font-family: roboto, arial;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: #3882F6;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #E5E7EB;
  font-weight: bold;
  box-shadow: 3px 3px 20px black;
}

h2 {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20%;
}

.header, .hero, .footer {
  background: #1F2937;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-link {
  color: #F9FAF8;
}

.links a, .links a:visited {
  color: #E5E7EB;
}

.hero {
  color: #E5E7EB;
  padding: 5vh 20%;
  height: 50vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero > * {
  flex: 1;
}

.hero-text {
  font-size: 18px;
  color: #E5E6EB;
  padding: 10px 0;
}

.information {
  height: 70vh;
  padding: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.info-list {
  max-width: 70vw;
  color: dimgray;
  text-align: center;
  display: flex;
  gap: 25px;
}

.info-list img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.quote {
  background: #E5E7EB;
  padding: 30vh 15vw;
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.author {
  display: block;
  text-align: end;
  font-weight: bold;
}
